@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --background: #e6e6e6;
    --main: #000;
    --font-size: 15px;
    --letter-spacing: 0px;
    --line-height: 1.4;
    --highlight-one: #fe4d4d;
    --highlight-two: #ec1bde;
    --highlight-one-gradient: #fe4d4d80;
    --highlight-two-gradient: #ec1bde80;
    /* --highlight-two-gradient: rgba(236, 27, 222, 0.5); */
    --margin: 15px;
}

html {
    box-sizing: border-box;
    background-color: var(--background);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
    color: var(--main);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar, 
.gallery::-webkit-scrollbar,
.extra-info .bordered.highlight::-webkit-scrollbar {display: none;}
body {margin: 0;}

body>* {
    margin: 0;
    scrollbar-width: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h1{font-size: 2rem; text-transform: uppercase;}
h2{ font-size: 1rem; letter-spacing: 1px;}

h3, a{
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: italic;
}
h3.strong{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
}
p { min-height: var(--margin);}
a{color: inherit; transition: all 0.2s;}
a:hover{
    color: var(--highlight-one);
    filter: drop-shadow(0 0 3px var(--highlight-two));
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
table tr { vertical-align: top;}
table th {
    font-style: italic;
    text-align: right;
}
table td {
    text-align: right; 
    padding-left: var(--margin); 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0 10px;
}   
table td span:not(:last-child)::after{
    content: ',';
} 
button, .mc-button {
    border: 3px solid var(--highlight-two);
    padding: 0;
    transition: all 0.4s;
    background-color: var(--background);
    color: var(--main);
}

button h2 {margin: 5px var(--margin);}
button:hover, .mc-button:hover{cursor: pointer; background-color: var(--highlight-one); color: var(--background);}

/* INPUT STYLING FOR MOVING MEDIA FILES */
input[type=range]{background-color: var(--background);}
input[type=range]::-moz-range-thumb{
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--highlight-one);
    cursor: pointer;
}
input[type=range]::-ms-thumb  {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--highlight-one);
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--highlight-one);
    cursor: pointer;
    margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--highlight-one);
    border-radius: 1.5px;

}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--highlight-one);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--highlight-one);
    border-radius: 1.5px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border-radius: 1.5px;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--highlight-one);
}

input[type=range]::-ms-fill-upper {
    background: var(--highlight-one);
    border-radius: 1.5px;
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--highlight-one);
}

/* Content styling */
.content p{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}
.content .info ul, .content .info ol, 
.extra-info .highlight ul{margin: var(--margin); padding-left: var(--margin); list-style: initial;}
.content .info ul li::marker,
.content .info ol li::marker,
.extra-info .highlight ol li::marker,
.extra-info .highlight ul li::marker{
    /* content: '_'; */
    font-weight: 700;
    font-style: italic;
    color: var(--highlight-one);
}
.content .info ol li::marker{font-family: "Syne", sans-serif;}
.content .info strong {font-weight: 600;}
.content .info a {
    color: var(--highlight-one);
    font-family: 'Syne', sans-serif;
    font-optical-sizing: auto;
}
content .info h2 {
    font-weight: 750;
    font-size: 1.2rem;
    margin-top: 45px;
}
.content .info blockquote{margin: inherit;}
.content .info blockquote p{margin: var(--margin) calc(var(--margin) * 2); margin-bottom: 0;}
.content .info blockquote:before, 
.content .info blockquote:after{
    content: '___';
    color: var(--highlight-one);
    font-weight: 700;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
}
.content .info blockquote:after{position: relative; display: inherit; text-align: right;}

.extra-info strong, .info-content strong {
    font-weight: 600;
    font-style: italic;
}

.mobile{display: none;}

/* HEADER */
header{
    display: flex;
    position: sticky;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    top: 0;
    background-color: var(--background);
    width: 100vw;
    margin-left: calc(var(--margin) * -1);
    /* box-shadow: 0 20px 15px -13px var(--highlight-two); */
}
header ul.menu{display: flex; gap: calc(var(--margin) * 2); margin: 0 var(--margin);}
header .menu-button a {text-decoration: none;}
header .logo{width: 225px; margin: 10px var(--margin);}
header .logo .letters path, header .logo .letter{ fill: var(--main);}
header .logo .star-1, .event .icon .star-1{fill: var(--highlight-two);}
header .logo .star-2, .event .icon .star-2{fill: var(--highlight-one);}
.current .icon mask .star-m, .event .icon mask .star-2{fill: #fff;}
.event .icon .star-outline{
    fill: var(--highlight-one-gradient);
    stroke: var(--highlight-one);
}
header:not(.home):before{
    content: '';
    height: 30px;
    position: absolute;
    background: linear-gradient(var(--highlight-two-gradient), rgba(0, 0, 0, 0));
    bottom: -30px;
    width: 100%;
    border-top: 3px solid var(--highlight-one);
    pointer-events: none;
}

/* Home header */
header.home .logo{width: 45vw;}
header.home h1 {margin: var(--margin);}

/* Accessibility button */
.menu-button.accessibility {
    background-color: black;
    color: white;
    border: 3px solid;
    padding: 0 5px;
    cursor: pointer;
}

.accessibility h2 {
    margin: 8px 0;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.menu-button.accessibility {
    padding: 0 8px;
    height: fit-content;
    margin-top: 2px;
}

/* SEARCH FORM and Mailchimp */
.search-form, #mcembedsignup_scroll {
    display: flex;
    align-items: center;
    gap: var(--margin);
    flex-wrap: wrap;
}
.search-input, #mce-EMAIL {
    border: none;
    border-bottom: 2.5px solid var(--main);
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
    width: 65%;
    font-family: "Syne", sans-serif;
    font-weight: 700;
    color: var(--main);
}
.search-input:focus, #mce-EMAIL:focus {
    border-bottom: 2px solid var(--highlight-one);
}
.search-button {
    border: none;
    background-color: transparent;
}
.search-button .icon {
    transition: all 0.3s;
    width: 25px;
    fill: var(--main);
}
.search-button:hover{background-color: transparent;}
.search-button:hover .icon{fill: var(--highlight-one); filter: drop-shadow(0 0 3px var(--highlight-two));}

.mc-button {
    padding: 5px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: var(--margin) 0 !important;
}
.mc-label{font-weight: 600; font-style: italic; padding-right: var(--margin);}
.mce_inline_error {
    font-style: italic;
    color: var(--highlight-two);
}
.clear.foot {
    display: flex;
    align-items: center;
}

/* ACCESSIBILITY CONTROLLERS */
.accessibility-container{
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.accessibility-container.hidden{display: none;}
table.accessibility {
    background-color: black;
    color: white;
    font-family: sans-serif;
    border: 3px solid;
    filter: drop-shadow(0 0 10px black);
    padding: 0 var(--margin);
    border-spacing: var(--margin);
}

table.accessibility * {
    font-weight: 500;
    font-style: initial;
    font-size: 1.1rem;
}
table.accessibility td { 
    justify-content: space-around;
    gap: calc(var(--margin) * 2);
    padding-left: calc(var(--margin) * 2);
}
table.accessibility button {
    border: none;
    background-color: inherit;
    color: white;
}
table.accessibility button.disabled{opacity: 0.4; pointer-events: none;}
table.accessibility button:hover{font-weight: bold;}
/* MAIN CONTAINER */
.main-container{ margin: 0 var(--margin);}
.extra-info{
    position: fixed;
    right: var(--margin);
    width: calc((100vw / 3) - (var(--margin) * 2));
    max-width: 450px;
}

/* -----Home */
header.home {align-items: flex-start; background-color: transparent;}
.bottom.home {
    position: fixed;
    bottom: var(--margin);
    width: calc(100vw - (var(--margin) * 2));
    max-width: initial;
    display: flex;
    justify-content: space-between;
}
.bottom.home a {
    display: inherit;
    gap: var(--margin);
    text-decoration: none;
    max-width: 25%;
    justify-content: end;
    align-items: center;
}
.bottom.home svg {width: 50px; fill: var(--main);}
.bottom.home a:hover svg{fill: var(--highlight-one);}
.bottom.home h1{margin: 0;}

.content.home{
    display: flex; 
    min-width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: clip;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    position: relative;
}
.current:not(:first-child){margin-left: -40%;}
.current h2 {
    position: absolute;
    margin-top: var(--margin);
    margin: 0;
    font-size: 2.2rem;
    max-width: 60%;
    text-align: center;
}
/* a.current svg {pointer-events: none;} */
/* a.current svg .star, a.current svg .star-outline{ pointer-events: auto;} */

.current:nth-child(odd) .star{fill: var(--highlight-one);}
.current:nth-child(even) .star{fill: var(--highlight-two);}
/* .current .star-outline{stroke-width: 6px; fill: none;} */
.current .star-outline{stroke-width: 6px;}
.current:nth-child(odd) .star-outline {stroke: var(--highlight-one); fill: var(--highlight-one-gradient)}
.current:nth-child(even) .star-outline {stroke: var(--highlight-two); fill: var(--highlight-two-gradient)}

.current:hover{z-index: 2; color: inherit;
    text-shadow:
            1px 0 3px var(--background),
            0 1px 3px var(--background),
            -1px 0 3px var(--background),
            0 -1px 3px var(--background);
}
.current:nth-child(even):hover {filter: drop-shadow(0 0 3px var(--highlight-two));}
.current:nth-child(odd):hover {filter: drop-shadow(0 0 3px var(--highlight-one));}

/* -----Archive */
/* .home .content.all-events,  */
.archive .content.all-events, 
.info .content.all-events {
    display: flex;
    flex-wrap: wrap;
    gap: calc((var(--margin) * 4));
    width: calc(((100vw * 2) / 3) - (var(--margin) * 2));
    padding: calc(var(--margin) * 2) 0;
    /* z-index: -1; */
    position: relative;
}
a.event {
    width: 170px;
    display: flex;
}
a.current .icon, a.event .icon {width: 100%;}
a.current .icon image, a.event .icon image {width: 100%;}
a.event .icon image {x: -5%; y: 10%;}
a.event span, a.event h3.strong{position: absolute;}
a.event span {
    height: fit-content;
    max-width: 80px;
}

a.event h3.strong {
    margin: 0;
    align-self: flex-end;
    max-width: 90px;
    margin-left: 100px;
}
a.event:hover{color: inherit;}
/* .home .extra-info,  */
.info .extra-info, .archive .extra-info {bottom: var(--margin); max-height: calc(100vh - 80px); overflow-y: scroll;}
.extra-info .filters{margin-bottom: var(--margin); padding-top: var(--margin);}
.filters .tag.active, .filters .tag:hover{
    cursor: pointer;
    font-weight: 600;
    font-style: italic;
}
.extra-info .button-cont {
    display: flex;
    gap: var(--margin);
    justify-content: flex-end;
    position: sticky;
    width: 100%;
    bottom: 0;
}

/* -----Event */
.event .content{
    /* width: calc((100vw * 2) / 3); */
    width: calc(((100vw * 2) / 3) - (var(--margin) * 2));
    max-width: 650px;
}
.event .content .info{
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}
.event-title{margin-bottom: 150px;}

.event .extra-info{
    top: 95px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 110px);
    justify-content: space-between;
    align-items: flex-end;
}
.extra-info .bordered.highlight {
    /* background-color: var(--background); */
    padding: 0 var(--margin);
    border: 3px solid var(--highlight-two);
    max-height: 55vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background:
        linear-gradient(white 30%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
        radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
        radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%; */
    background:
            linear-gradient(var(--background) 30%, rgba(255, 255, 255, 0)),
            linear-gradient(rgba(255, 255, 255, 0), var(--background) 70%) 0 100%,
            linear-gradient(to bottom, var(--highlight-one-gradient), rgba(0, 0, 0, 0)),
            linear-gradient(to top, var(--highlight-one-gradient), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: var(--background);
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 40px, 100% 40px, 100% 20px, 100% 20px;
}
/* .extra-info .bordered.highlight::after {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0), var(--background));
    background: linear-gradient(rgba(0, 0, 0, 0), var(--highlight-one-gradient));
    width: calc(100% + var(--margin)*2);
    height: var(--margin);
    display: block;
    position: sticky;
    bottom: -5px;
    margin-left: calc(var(--margin) *-1);
} */
.extra-info .categories{width: 75%;}

/* GALLERY */
.gallery{ 
    display: flex; 
    gap: var(--margin);
    width: 100vw;
    overflow-x: scroll;
    margin-left: calc(-1 * var(--margin));
    /* padding: 0 calc(100vw / 4); */
    padding: 0 clamp(325px, 100vw / 3, 325px);
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 45vh;
}
.gallery-item {
    height: 90%;
    margin: 0;
    border: 3px solid var(--highlight-one);
    /* max-width: 50%; */
}
.gallery-item img, .gallery-item video { height: 100%;}

/* AUDIO PLAYER */
.play-icon .media-button { height: 30px;}

.audio-player {
    border: 3px solid var(--highlight-one);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5px var(--margin);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
    margin: var(--margin) 0;
}

.audio-player .media-controllers { display: flex; gap: var(--margin);}
.audio-player .media-controllers .play-icon {margin: auto;}
.audio-player .media-controllers .play-icon .media-button { height: 30px; width: 30px; fill: var(--highlight-one);}

.audio-player .media-controllers .play-icon .media-button { display: none;}
.audio-player .media-controllers .play-icon:not(.playing) .media-button.play { display: block;}
.audio-player .media-controllers .play-icon.playing .media-button.pause { display: block;}

.audio-player .media-controllers .controllers { flex-grow: 1; display: flex; flex-direction: column;}
.audio-player .media-controllers .seek-slider { width: 100%;}
.audio-player .media-controllers .time-range { display:flex; justify-content: space-between;}

/* -----Info */
#info-modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: radial-gradient(var(--highlight-one) 30%, rgba(0, 0, 0, 0));
    gap: var(--margin);
}
#info-modal.hidden{display: none;}
.info-content {border: 3px solid var(--highlight-two);}
.info-content.text{
    max-width: min(800px, 60vw);
    max-height: 80vh;
    background-color: var(--background);
    padding: 15px;
    overflow-y: scroll;
}

/* MEDIA FILE LIGHTBOX */
.info-content.lightbox{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    gap: var(--margin);
    flex-direction: column;
    background-color: var(--background);
    left: 0;
    justify-content: center;
    align-items: center;
    border: none;
}
.info-content figure.lightbox{margin: 0; max-width: 85vw; max-height: 80vh; min-width: 65vw; }
.info-content.lightbox img{width: 100%; border: 3px solid var(--highlight-one);}
.info-content.lightbox .bordered{border: 3px solid var(--highlight-two); max-width: 75vw;}
.info-content.lightbox .bordered .text-content{padding: var(--margin);}
.info-content.lightbox .close {
    position: fixed;
    bottom: var(--margin);
    right: var(--margin);
    text-decoration: none;
    display: flex;
    gap: var(--margin);
    justify-content: flex-end;
}
.lightbox .close * { margin: 0;}
.lightbox .close svg {
    width: 10%;
    fill: var(--main);
}

/* SEARCH PAGE */
.search-results .result{ display: flex; gap: var(--margin); align-items: center;}
.search-results .result .icon {width: 20px;}
.search-results .result:nth-child(even) .icon {fill: var(--highlight-one);}
.search-results .result:nth-child(odd) .icon {fill: var(--highlight-two);}
.search-results .result p{margin: 0; font-family: "IBM Plex Mono", monospace; font-style: italic;}
.search-results .result span{display: flex; flex-wrap: wrap; gap: 0 5px;}
.search-results .result span.snippet::before{content: '"...'; letter-spacing: -5px;}
.search-results .result span.snippet::after{content: '..."'; letter-spacing: -5px;}

/* FOOTER */
.footer {
    position: fixed;
    bottom: var(--margin);
    /* margin: 0 var(--margin); */
    width: calc(100vw - (var(--margin) * 2));
    background: var(--background);
    border: 3px solid var(--highlight-two);
    height: calc(var(--margin) * 3);
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
.footer:hover{cursor: pointer;}
.footer .open-arrow {
    transform: rotate(-90deg);
    transition: transform 0.4s;
}
.footer .open-arrow.open{transform: rotate(90deg);}

/* SWUP ANIMATIONS */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}

#info-modal.is-changing {transition: opacity 0.5s;}
#info-modal.is-animating {opacity: 0;}

/* MOBILE */
@media screen and (max-width: 750px) {
    .desktop{display: none;}
    .mobile{display: flex;}
    h1{font-size: 1.7rem;}
    h2{font-size: 1.5rem;}
    .current h2{text-shadow: 
        1px 0 3px var(--background),
        0 1px 3px var(--background),
        -1px 0 3px var(--background),
        0 -1px 3px var(--background);}
    header .logo{width: 60px;}
    header.home{flex-direction: column;}
    header.home .logo{
        width: 80vw;
        order: -1;
        align-self: flex-end;
    }
    .showMenu{margin-left: var(--margin); cursor: pointer;}
    header ul.menu {
        flex-direction: column;
        position: absolute;
        gap: var(--margin);
        background-color: var(--background);
        margin: 0;
        top: 82px;
        opacity: 0;
        pointer-events: none;
        padding: 15px;
        width: 100vw;
        transition: opacity 0.4s;
        gap: var(--margin);
        border-top: 3px solid var(--highlight-one);
    }
    header ul.menu.shown{opacity: 1; pointer-events: auto;}
    header ul.menu::before {
      content: '';
      height: 30px;
      position: absolute;
      background: linear-gradient(var(--highlight-two-gradient), rgba(0, 0, 0, 0));
        border-top: 3px solid var(--highlight-one);
      bottom: -30px;
      width: 100%;
      left: 0;
    }
    .search-input{font-size: 1.5rem;}
    .search-button .icon {width: 35px;}
    .bottom.home .menu-button.accessibility * { font-size: 1.2rem;}
    .menu-button.accessibility{text-align: center;}
    .content.home{
        flex-direction: column;
        padding: 30% 0;
        overflow-x: clip;
        overflow-y: scroll;
    }
    .current:not(:first-child) {
        margin-left: inherit;
        margin-top: -40%;
    }
    .bottom.home a {max-width: 50%;}
    .bottom.home svg {width: 30px;}
    .event .content, 
    .archive .content.all-events,
    .home .content.all-events
     { width: calc(100vw - (var(--margin) * 2)); padding-bottom: calc(var(--margin) * 5);}
    .home .content.all-events,
    .archive .content.all-events
    {justify-content: center;}
    a.event {width: 210px;}
    .extra-info{
        width: calc(100vw - (var(--margin) * 2));
        height: calc(var(--margin) * 3) !important;
        background-color: var(--background);
        border: 3px solid var(--highlight-two);
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: clip;
        opacity: 0;
    }
    .extra-info::after {
        content: '';
        background: linear-gradient(rgba(0, 0, 0, 0), var(--background));
        background: linear-gradient(rgba(0, 0, 0, 0), var(--highlight-one-gradient));
        height: var(--margin) !important;
        display: block;
        width: calc(100vw - var(--margin)*2);
        bottom: 60px;
        left: var(--margin);
        position: fixed;
    }
    .archive .extra-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button{width: fit-content; margin-bottom: 10px;}
    .gallery{
        padding-left: var(--margin);
        height: 32vh;
    }
    .event .extra-info{
        height: inherit;
        justify-content: flex-start;
        bottom: var(--margin);
        top: initial;
        gap: var(--margin);
    }
    .extra-info.open{
        height: fit-content !important;
        padding-bottom: calc(var(--margin) * 3);
        -ms-overflow-style: none;
        scrollbar-width: none;
        max-height: 75vh;
        opacity: 1;
    }
    .extra-info .bordered.highlight {border: none; overflow: initial; max-height: none;}
    .extra-info .categories, .extra-info .filters {width: 100%;}
    .extra-info .bordered.highlight, .extra-info .categories, .extra-info .filters{padding: 0 10px; padding-bottom: 14px;}
    .extra-info .filters{padding-top: var(--margin);}
    .extra-info .button-cont {
        position: relative;
        justify-content: center;
    }
    .info-content.text{
        max-width: 85vw;
        max-height: 85vh;
    }
    /* .info-content .lightbox{max-width: calc(100vw - (var(--margin) * 2));} */
    .info-content figure.lightbox { max-width: calc(100vw - (var(--margin)*2)); min-width: 85vw;}
    .info-content.lightbox .bordered { max-width: calc(100vw - (var(--margin)*2));}

    .search-results {display: flex; flex-direction: column; gap: calc(var(--margin) * 2) 0;}
    .search-results .result{align-items: flex-start; flex-direction: column;}
    .search-results .result .icon {align-self: center;}
    .search-results .result h2 { margin: 0;}
}